.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;

  .navbar-top {
    background-color: #1c0d00;
    color: #fff;
    font-size: 0.95rem;
    padding: 0.6rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.hidden {
      display: none;
    }

    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      a,
      span,
      button {
        color: #fff;
        text-decoration: none;
        font-size: 0.9rem;
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
          &:hover {
            color: #d28930;
          }
        }
      }

      button {
        padding: 0;
      }
    }
  }

  .main-navbar {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fffcf7;

    &.hidden {
      justify-content: center;
    }

    .navbar-left {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &.hidden {
        display: none;
      }

      .main-navbar-left {
        display: flex;
        align-items: center;
        margin-right: 18rem;

        img {
          height: 50px;
          width: auto;

          @media (max-width: 768px) {
            height: 40px;
          }
        }
      }

      span,
      a,
      button {
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        text-decoration: none;
        background: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .nav-links {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        color: #8c7761;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.95rem;

        &:hover {
          color: #d28930;
        }
      }
    }
  }
}

.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  .navbar-logo {
    background-color: white;
    text-align: center;
    padding: 1rem 0;

    img {
      height: 60px;
    }
  }

  .navbar-menu {
    background-color: #fffcf7;
    display: flex;
    justify-content: center;
    padding: 0.9rem 1.5rem;

    ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      margin: 0;
      padding: 0;

      li {
        a {
          color: #8c7761;
          font-weight: 600;
          text-decoration: none;
          font-size: 0.95rem;

          &:hover {
            color: #d28930;
          }
        }
      }
    }
  }
}
